.feed {
    flex: .4;
    border-right: .5px solid rgb(233, 232, 232);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
    border: .5px solid rgb(233, 232, 232);
    padding: 15px 20px;
}